h1 {background-color: aqua; lighting-color: blueviolet;color: burlywood;}
h2 {background-color: lightcyan; color: darksalmon;}
h3 {background-color: darkseagreen; color:  palevioletred;}
h4 {background-color: pink; color: green;}
h5 {background-color: rebeccapurple; color: seashell;}
h6 {background-color: sienna; color: khaki;}
p {background-color: green; color: indigo;}
button {background-color: lightsalmon; color: blue;}